[submodule "tools/share/cmake/Modules/cmake-modules"]
	path = tools/share/cmake/Modules/cmake-modules
	url = https://github.com/hanjianwei/cmake-modules.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
